<!--home.html-->



<div class="container">
    <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholders style="max-width: 20">
            <div >
                <h6 class="card-title">Total Projects</h6>
                <p>{{message.length}}</p>
                
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholders" style="max-width: 20">
            <div class="rounded-circle">
                <h6 class="card-title">In Review</h6>
                <p>672</p>
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholders" style="max-width: 20">
            <div class="rounded-circle">
                <h6 class="card-title">Under Consideration</h6>
                <p>1050</p>
            </div>
        </div>
        <div class="col-6 col-sm-3 placeholders" style="max-width: 20">
            <div class="rounded-circle">
                <h6 class="card-title">Delivered</h6>

                <p>50</p>
            </div>
        </div>

    </section>
</div>
<div class="row">
    <div class="col-lg-6">
        <img src="../assets/chart1.png"/></div>
    <div class="col-lg-6">
        <img src="../assets/chart2.png"/></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <img src="../assets/chart3.png"/></div>
    <div class="col-lg-6">
        <img src="../assets/chart4.png"/></div>
</div>
</div>

<!--/home.html-->
