<link rel="stylesheet" href="../css/review.css">
<div ng-app="MEANapp">
	<div class="container">
		<div class="row">
			<h2 class="text-white">Reviews &amp; Status</h2>
		</div>
		<div class="row text-white">
			<p>Some meaningless drivel</p>
		</div>
		<div class="jumbotron">
			<div class="row justify-content-center">
				<h2>Detailed Summary</h2>
			</div>
			<div class="progress">
				<div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<div class="table">
						<table class="table-responsive table-light">
							<tbody>
								<tr>
									<td>Project Title:</td>
									<td>{{message.InnovationTitle}}</td>
								</tr>
								<tr>
									<td>Project ID:</td>
									<td>{{message._id}}</td>
								</tr>
								<tr>
									<td>Status:</td>
									<td>Under Consideration</td>
								</tr>
								<tr>
									<td>Submission Date:</td>
									<td>2 May 2018, 10:17 AM PST</td>
								</tr>
								<tr>
									<td>Repository:</td>
									<td>
										<a href={{message.GitLink}} target="_blank">{{message.GitLink}}</a>
									</td>
								</tr>
								<tr>
									<td>Description:</td>
									<td>{{message.Description}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-5">
					<div class="table">
						<table class="table-responsive table-light">
							<tbody>
								<tr>
									<td>Submitter:</td>
									<td>{{message.Submitter}}</td>
								</tr>
								<tr>
									<td>Co-Submitters:</td>
									<td>{{message.CoSubmitters}}</td>
								</tr>
								<tr>
									<td>Component</td>
									<td>{{message.Component}}</td>
								</tr>
								<tr>
									<td>Product:</td>
									<td>Project Incubator</td>
								</tr>
								<tr>
									<td>Operating System:</td>
									<td>{{message.OperatingSystem}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<a class="btn btn-primary" href="#protected" role="button">TLT</a>
		</footer>
	</div>
</div>