<!--submit.html-->
<div ng-app="MEANapp">


    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
    <!--<a class="hiddenanchor" id="toregister"></a>-->
    <!--<a class="hiddenanchor" id="tologin"></a>-->
    <!--<div id="wrapper">-->
        <!--<div id="register" class="animate form">-->
            <!--<form autocomplete="on" ng-submit="submitRegister()" name="SubmitForm">-->
                <!--<h1> Sign up </h1>-->
                <!--<p>-->
                    <!--<label for="Submitter" class="uname" data-icon="u">Submitter:</label>-->
                    <!--<input id="Submitter" name="submitter" required="required" type="text" ng-model="SubmitForm.submitter"-->
                    <!--required placeholder="" />-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="CoDevelopers" class="uname"  > Co-Developers:</label>-->
                    <!--<input id="CoDevelopers" name="cosubmitter" required="required" type="text" ng-model="SubmitForm.cosubmitter"-->
                    <!--required placeholder=""/>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="InnovationTitle" class="uname" >Innovation Title: </label>-->
                    <!--<input id="InnovationTitle" name="InnovationTitle" required="required" type="text" ng-model="SubmitForm.InnovationTitle"-->
                    <!--placeholder=""/>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="Description" class="uname" >Description </label>-->
                    <!--<textarea id="Description" name="description" required="required" ng-model="SubmitForm.description"  placeholder="Add a description here - 250 characters max"></textarea>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="product" class="uname" >Product </label>-->
                    <!--<input id="product" name="product" required="required"  ng-model="SubmitForm.product" type="text" placeholder=""/>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="gitlink" class="uname" >Git Link </label>-->
                    <!--<input id="gitlink" name="gitlink" required="required"  ng-model="SubmitForm.gitlink" type="text" placeholder=""/>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="component" class="uname" >Component </label>-->
                    <!--<input id="component" name="component" required="required"  ng-model="SubmitForm.component" type="text" placeholder=""/>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="os" class="uname" >Operating system </label>-->
                    <!--<input id="os" name="os" required="required" type="text"   ng-model="SubmitForm.os"  placeholder=""/>-->
                <!--</p>-->
                <!--<p class="signin button">-->
                    <!--<input type="submit" class="center" value="Sign up"/>-->
                    <!--</p>-->
                <!--<p class="change_link">-->
                    <!--Already a member ?-->
                    <!--<a href="#tologin" class="to_register"> Go and log in </a>-->
                <!--</p>-->
            <!--</form>-->
        <!--</div>-->

    <!--</div>-->
    <div>
        <form autocomplete="on" ng-submit="submitRegister()" name="SubmitForm">
            <fieldset>
                <legend class="text-white">Project Sign Up</legend>
                <div class="form-group">
                    <label class="col-form-label text-white" for="Submitter">Submitter</label>
                    <input type="text" id="Submitter" class="form-control"  placeholder="Enter Submitter" ng-model="SubmitForm.submitter" required>
                    <small id="Submitter-Help" class="form-text text-help">Name of the group member who submits the project</small>

                    <label class="col-form-label text-white" for="CoDevelopers">Co-Developers</label>
                    <input type="text" id="CoDevelopers" class="form-control"  placeholder="Enter Co-Developers" ng-model="SubmitForm.cosubmitter" required>
                    <small id="CoDevelopers-Help" class="form-text text-help">Name of the group member who work on the project</small>

                    <label class="col-form-label text-white" for="InnovationTitle">Innovation Title</label>
                    <input type="text" id="InnovationTitle" class="form-control"  placeholder="Enter Innovation Title" ng-model="SubmitForm.InnovationTitle" required>
                    <small id="InnovationTitle-Help" class="form-text text-help">Title of the project</small>

                    <label class="col-form-label text-white" for="Description">Description</label>
                    <textarea type="text" id="Description" class="form-control" rows="3" placeholder="Add a description here - 250 characters max" ng-model="SubmitForm.description" required>
                </textarea>
                    <small id="Description-Help" class="form-text text-help">Add aneeeg description here - 250 characters max</small>

                    <label class="col-form-label text-white" for=" gitlink">Git Link</label>
                    <input type="text" id=" gitlink" class="form-control"  placeholder="Add a  gitlink here" ng-model="SubmitForm.gitlink" required>
                    <small id=" gitlink-Help" class="form-text text-help">Add a gitlink here</small>

                    <label class="col-form-label text-white" for=" component">Component</label>
                    <input type="text" id=" component" class="form-control"  placeholder="Add a  component here" ng-model="SubmitForm.component" required>
                    <small id=" component-Help" class="form-text text-help">Add a component here</small>

                    <label class="col-form-label text-white" for=" os">Operating System</label>
                    <input type="text" id=" os" class="form-control"  placeholder="Add a  os here" ng-model="SubmitForm.os" required>
                    <small id=" os-Help" class="form-text text-help">Add a os here</small>

                    <button type="submit" class="btn btn-primary"> Sign Up</button>

                </div>


            </fieldset>
        </form>
    </div>
</div>

