html, body{
	background-color: #2a618e;;
}
.navbar{
	background-color: #173d5b;
}
.sidebar-expanded{
	background-color: #2a618e;
	margin: 0;
}
#sidebar-container{
	background-color: #2a618e;
}
.list-group{
	margin: 0;
}
.list-group-item{
	background-color: #3779a5;
	color: #fbfbfb;
}